<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理后台</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .footer {
            width: 100%;
            height: 30px;
            line-height: 30px;
            margin-top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*position: absolute;*/
            z-index: 10;
            background-color: #343a40;
        }

        .footer a {
            font-family: Georgia, "Times New Roman", Times, serif;;
            color: #fff;
        }

        .navbar-nav {
            width: 300px;
            float: left !important;
            display: block !important;
        }

        .nav-item {
            padding-left: 20px;
            float: left !important;
        }

        .menua {
            font-size: 1.2em;
        }

        .menua:hover {
            background: #fff;
        }
    </style>
</head>

<body>
<!--顶部导航栏部分-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">文化遗产后台</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav ">
        <li class="nav-item text-nowrap">
            <a class="nav-link" id="modify_password"> &nbsp;&nbsp;修改密码</a>
        </li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">当前用户：<span class="badge">{{ username }}</span></a>
        </li>

        <a class="nav-link" href="/logout"> &nbsp;&nbsp;退出</a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item active">
                        <a id="wenbena" class="nav-link menua" href='aduitpassage?id={{ id }}&username={{ username }}'
                           target="mainFrame">
                            <span data-feather="home"></span>
                            文本审核 <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a id="jilua" class="nav-link  menua" href='aduithistory?id={{ id }}&username={{ username }}'
                           target="mainFrame">
                            <span data-feather="home"></span>
                            记录审核
                        </a>
                    </li>

                    <li id="renyaunli" class="nav-item ">
                        <a class="nav-link  menua "
                           href='peoplemanage?id={{ id }}&username=+{{ username }}' target="mainFrame">
                            <span data-feather="home"></span>
                            人员管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 中间主体内容部分 -->
        <main class="main col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <iframe src='aduitpassage?id={{ id }}&username={{ username }}' id="mainFrame" name="mainFrame" width="100%"
                    height="900px"
                    frameBorder="0"></iframe>
        </main>
    </div>
</div>
<!-- 找回密码框 -->
<div class="modal fade" id="searchPwd-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">重置密码</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <label>用&ensp;户&ensp;名:</label><input id="resetusername" class="form-control"
                                                             value="{{ username }}"
                                                             placeholder="请输入您的用户名"/>
                    <br/>
                    <br/>

                    <label>新&ensp;密&ensp;码:</label><input id="resetpassword" class="form-control"
                                                             placeholder="请设置您的新密码(不少于8位)"/>
                    <br/>
                    <br/>
                    <label>确认密码:</label><input id="resetcofirmpassword" class="form-control"
                                                   placeholder="请再次确认您的新密码"/>
                    <br/>
                    <br/>
                    <label>工&ensp;&ensp;&ensp;&ensp;号:</label><input id="resetworkno" class="form-control" disabled
                                                                       value="{{ workno }}"/>

                    <br/>
                    <br/>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="resetPwd" @click="resetPwd" class="btn btn-primary">重置密码</button>
            </div>
        </div>
    </div>
</div>

<!-- 底部页脚部分 -->
<div class="footer">
    <p class="text-center">
        <a href="http://www.luohanye.com/" target="_blank">www.****************************.com</a>
    </p>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    window.onload = function () {
        var flaskid = {{ id }};
        if (flaskid != 1) {

            $("#renyaunli").hide()

        }

        $('#modify_password').click(function () {


            $('#resetpassword').val("")
            $('#resetcofirmpassword').val("")
            $('#searchPwd-window').modal('show');
        });


        resetPwd.onclick = function () {

            let resetusername = document.getElementById('resetusername');
            let resetpassword = document.getElementById('resetpassword');
            let resetcofirmpassword = document.getElementById('resetcofirmpassword');
            let resetworkno = document.getElementById('resetworkno');
            if (resetusername.value == "" || resetpassword.value == "") {
                alert("用户名、密码不能为空")
                return
            }
            if (resetpassword.value != resetcofirmpassword.value) {
                alert("两次密码不一致")
                return
            }
            var onclickdata = "username=" + resetusername.value + "&password=" + resetpassword.value + "&work_no=" + resetworkno.value
            axios.request({
                url: "http://localhost:5000/updateadminself",
                method: "post",
                data: onclickdata
            }).then(res => {

                if (res.data.status == -1) {
                    alert("用户名已存在")
                } else {
                    alert("修改成功")
                    $('#searchPwd-window').modal('hide');
                }


            })
        }

    }
</script>
</body>

</html>