<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 引入 jquery、Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<br>
<!-- 标题 -->
<div >
    <h2 style="font-weight: bold;">文化遗产后台</h2>
</div>
<br>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="aduitpassage">文本审核</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="aduithistory">记录审核</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="tab3.html">Other</a>
            </li>
        </ul>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 bg-success ">
        <iframe id="navFrame" width="100%" height="auto" scrolling="no" frameborder="10" src="aduitpassage"></iframe>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a").click(function (e) {
            if ($(this).attr("href").length) {
                e.preventDefault();
                $(this).tab('show');
                $("#navFrame").attr("src", $(this).attr("href"));
            }
        })
    });
</script>
</body>

</html>
