<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>后台登陆页</title>
    <!-- 引入 jquery、Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        window.onload = function () {


            login.onclick = function () {

                let login_username = document.getElementById('login_username');
                let login_password = document.getElementById('login_password');
                var onclickdata = "username=" + login_username.value + "&password=" + login_password.value + ""

                axios.request({
                    url: "http://localhost:5000/login",
                    method: "post",
                    data: onclickdata
                }).then(res => {

                    if (res.data.startsWith("登陆成功")) {
                        $('#login-success-alert-success').addClass("show");
                        window.setTimeout(function () {
                            $("#login-success-alert-success").removeClass("show");
                        }, 1000);
                        splitarray = res.data.split('||');

                        var url = "backwardindex?id=" + splitarray[1] + "&username=" + splitarray[2]+"&workno="+splitarray[3];

                        window.location.href = url;
                    } else {

                        $('#login-fail-alert-danger').addClass("show");
                        window.setTimeout(function () {
                            $("#login-fail-alert-danger").removeClass("show");
                        }, 1000);
                    }


                })
            }


        }
    </script>
</head>

<body>

<ul style="position:absolute;top:20px;right:20px">
    <li>
        <button class="btn btn-warning pull-right"><a href="index"><font color="black">前台主页</font></a></button>
    </li>
</ul>
<!-- 登录表单 -->
<div class="login-form">
    <center><span>文化遗产管理系统</span></center>
    <div style="height: 5px"></div>
    <div class="form-group">
        <label for="login_username" style="color: white">用户名</label>
        <input type="text" class="form-control" id="login_username" placeholder="请输入您的用户名或手机号">
    </div>
    <div class="form-group">
        <label for="login_password" style="color: white">密码</label>
        <input type="password" class="form-control" id="login_password" placeholder="请输入您的密码">
    </div>
    <div class="c3-1">
        <center>
            <button id="login" class="btn btn-primary">登录</button>
            <div id="login-fail-alert-danger" class="alert alert-danger hide">账号或者密码错误！</div>
            <div id="login-success-alert-success" class="alert alert-success hide">登陆成功！</div>
        </center>
        <br/>
        <a id="searchPwd" data-toggle="modal" onclick="alert('请联系超级管理员予以重置密码')"><font color="#ffffff">忘记密码</font></a>
        <a id="toRegister" data-toggle="modal" onclick="alert('请联系超级管理员予以注册')"><font color="#ffffff">立即注册</font></a>
    </div>
</div>


</body>
<style type="text/css">
    html body {
        background: url(../static/img/skin.jpeg) no-repeat center;
        background-size: 100%;
    }

    span {
        font-family: "微软雅黑";
        font-size: 30px;
        color: white;
    }

    .login-form {
        width: 20%;
        margin: auto;
        margin-top: 15%;
    }

    #toRegister {
        float: right;
    }
</style>
</html>
